@font-face {
	font-family: 'pokemon-font';
	src: url(assets/fonts/pokemon-font.woff2) format('woff2');
}

@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

button:focus {
	outline: none;
}

.click:hover::before {
	position: absolute;
	content: url(assets/img/pkmncursor.png);
	left: -22px;
	top: 1px;
}

.hover:hover {
	cursor: pointer;
}

#gameboy {
	position: absolute;
	left: 160px;
	top: -4px;
}

#game-window {
	position: absolute;
	padding: 8vw;
	width: 50vw;
}

#battle {
	position: absolute;
	visibility: hidden;
}

#pkmn-name {
	position: absolute;
	font-family: 'pokemon-font', monospace;
	font-size: 3.5mm;
	color: #282d00;
	background: transparent;
	border: none !important;
	left: 3vw;
	top: vh;
}

#pkmnback-name {
	position: absolute;
	font-family: 'pokemon-font', monospace;
	font-size: 5mm;
	color: #282d00;
	background: transparent;
	border: none !important;
	left: 50%;
	top: 23vh;
	right: 23vw;
}

#pkmn-level {
	position: absolute;
	font-family: 'pokemon-font', monospace;
	font-size: 2rem;
	color: #282d00;
	background: transparent;
	border: none !important;
	left: 20vw;
	top: 3.1vh;
}

#pkmnback-level {
	position: absolute;
	font-family: 'pokemon-font', monospace;
	font-size: 2.5vw;
	color: #282d00;
	background: transparent;
	border: none !important;
	left: 38vw;
	top: 30vh;
}

#pkmnback-hp {
	position: absolute;
	font-family: 'pokemon-font', monospace;
	font-size: 2vw;
	color: #282d00;
	background: transparent;
	border: none !important;
	left: 27vw;
	top: 38.5vh;
}

#pkmnback-maxhp {
	position: absolute;
	font-family: 'pokemon-font', monospace;
	font-size: 2vw;
	color: #282d00;
	background: transparent;
	border: none !important;
	left: 38vw;
	top: 38.5vh;
}

#enemy-hp {
	position: absolute;
	padding-top: 7px;
	top: 6.8vh;
	left: 16.8vw;
	border-radius: 1px;
	width: 42vw;
	line-height: 7px;
}

#enemy-hp-bar {
	position: absolute;
	padding-top: 1.2vh;
	/* top: -0.5vh; */
	height: 1vh;
	/* width: 20vw; */
	/* left: -0.8vw; */
	border-radius: 1px;
	width: vw;
	background-color: #383e00;
	transform-origin: left;
	transform: scaleX(1);
	transition: width 1s;
	margin-left: -1vw;
}

#player-hp {position: absolute;padding-top: 7px;top: 31.6vh;left: 41.8vw;border-radius: 1px;width: 46vw;line-height: 7px;}

#player-hp-bar {
	left: 6.4vw;
	position: absolute;
	padding-top: 1.5vh;
	top: -0.4vw;
	border-radius: 1px;
	width: 100%;
	line-height: 1.5vh;
	background-color: #383e00;
	transform-origin: left;
	transform: scaleX(1);
	transition: width 1s;
}

#pkmnback {
	width: 20vw;
	height: 15vh;
	position: absolute;
	left: 8vw;
	top: 25vh;
}

#pkmn {
	position: absolute;
	width: 20vw;
	height: 15vh;
	left: 55vw;
	top: 1vh;
}

#opening {
	width: 84vw;
	height: 80vh;
	position: absolute;
	left: 10%;
	top: 10%;
}

#startbutton {
	position: absolute;
	font-family: 'pokemon-font', monospace;
	font-size: 0.5cm;
	width: 80vw;
	color:green;
	top: 20vh;
	left: 12vw;
	background: transparent;
	border: none !important;
	z-index: 1;
	visibility: visible;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}

#black {
	position: absolute;
}

#ending {
	position: absolute;
}

#endingtext {
	position: absolute;
	font-family: 'pokemon-font', monospace;
	font-size: 25px;
	color: #282d00;
	background: transparent;
	border: none !important;
	width: 500px;
	top: 352px;
	left: 25px;
	text-align: left;
	line-height: 50px;
	z-index: -1;
}

#b1 {
	position: absolute;
	width: 80vw;
	height: 60vh;
}

#b2 {
	position: absolute;
	width: 85vw;
	z-index: 1;
}

#fight {
	position: absolute;
	left: 268px;
	top: 378px;
	width: 131px;
	height: 28px;
	background: transparent;
    border: none !important;
    color: rgba(0,0,0,0);
}

#items {
	position: absolute;
	left: 270px;
	top: 432px;
	width: 102px;
	height: 28px;
	background: transparent;
	border: none !important;
	color: rgba(0,0,0,0);
}

#pkmnbtn {
	position: absolute;
	left: 430px;
	top: 378px;
	width: 50px;
	height: 28px;
	background: transparent;
	border: none !important;
	color: rgba(0,0,0,0);
}

#run {
	position: absolute;
	left: 430px;
	top: 432px;
	width: 77px;
	height: 28px;
	background: transparent;
	border: none !important;
	color: rgba(0,0,0,0);
}

#attack1 {
	position: absolute;
	font-family: 'pokemon-font', monospace;
	font-size: 25px;
	left: 158px;
	top: 342px;
	width: 350px;
	height: 28px;
	background: transparent;
	border: none !important;
	color: #282d00;
	z-index: -1;
	text-align: left;
}

#attack2 {
	position: absolute;
	font-family: 'pokemon-font', monospace;
	font-size: 25px;
	left: 158px;
	top: 372px;
	width: 350px;
	height: 28px;
	background: transparent;
	border: none !important;
	color: #282d00;
	z-index: -1;
	text-align: left;
}

#attackcancel {
	position: absolute;
	font-family: 'pokemon-font', monospace;
	font-size: 25px;
	left: 158px;
	top: 427px;
	width: 77px;
	height: 28px;
	background: transparent;
	border: none !important;
	color: #282d00;
	z-index: -1;
}

img { /* Fallout effect: green overlay */filter: hue-rotate(388deg) saturate(0.7) brightness(1.2); /* Adjust values as needed */}